<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Homepage</title>
    <style>
        body {
            max-width: 300px;
            margin: auto;
        }
    </style>
</head>
<body>
<h1>ADD QUESTION</h1>
<form th:object="${question}" th:action="@{/add-question}" method="post">
    <label for="title">Title of your question:</label><br>
    <textarea id="title" name="title" th:field="${question.shortDescription}" rows="2" cols="30"></textarea><br>
    <br>
    <label for="question">Question:</label><br>
    <textarea id="question" name="question" th:field="${question.description}" rows="10" cols="30"></textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>
<a href="/">Back</a>
</body>
</html>