<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Homepage</title>
</head>
<body>
<h1>Homepage</h1>
<table class="table">
    <thead>
    <tr>
        <td>Questions</td>
        <td>Details</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Questions2222</td>
        <td>Details22222</td>
    </tr>
    </tbody>
</table>
</body>
</html>