<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .bg {
            height: 100%;

            /* Center and scale the image nicely */
            background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <title>Homepage</title>
</head>
<body class="bg">

<h1 style="font-size: 80px" class="font-weight-lighter">AskMate</h1>
<nav class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{'/search'}" th:object="${word}" th:method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" th:field="${word.text}"
                   aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container-fluid" style="background:white; max-width: 1400px; padding: 0; margin-top: 20px">
    <table style="opacity: inherit; margin: 0 auto" class="table table-striped">
        <thead class="table-dark">
        <tr align="center">
            <td>Questions</td>
            <td>Details</td>
            <td>Delete Question</td>
            <td>Edit Question</td>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="question:${questions}">
            <td th:text="${question.shortDescription}"></td>
            <td><a th:href="${'question?id='+question.id}">view</a></td>
            <td>
                <form th:action="@{'/deleteQuestion?id='}" th:method="GET">
                    <input type="hidden" name="id" th:value="${question.id}">
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/editQuestion'}" th:method="GET">
                    <input type="hidden" name="id" th:value="${question.id}">
                    <button type="submit" class="btn btn-secondary">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a href="/add-question">Add question</a>
</body>
</html>