<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .bg {
            height: 100%;

            /* Center and scale the image nicely */
            background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <title>Search word</title>
</head>
<body class="bg">
<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><h1 style="font-size: 80px" class="font-weight-lighter">AskMate</h1></a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{'/search'}" th:object="${word}" th:method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" th:field="${word.text}"
                   aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>
<h2 th:text="'Search word: '+${searchWord.text}"></h2>
<div>
    <table class="table table-striped ">
        <thead class="table-dark">
        <tr align="center">
            <td>Questions</td>
            <td>Details</td>
            <td>Delete Question</td>
            <td>Edit Question</td>
        </tr>
        </thead>
        <tbody style="background: white">
        <tr align="center" th:each="searchQuestion:${searchQuestions}">
            <td th:text="${searchQuestion.shortDescription}"></td>
            <td><a th:href="${'question?id='+searchQuestion.id}">view</a></td>
            <td>
                <form th:action="@{'/deleteQuestion?id='}" th:method="GET">
                    <input type="hidden" name="id" th:value="${searchQuestion.id}">
                    <button type="submit" class="btn btn-secondary">Delete</button>
                </form>
            </td>
            <td>
                <form th:action="@{'/editQuestion'}" th:method="GET">
                    <input type="hidden" name="id" th:value="${searchQuestion.id}">
                    <button type="submit" class="btn btn-secondary">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/">Back</a>
</div>
</body>
</html>